:root {
    --color-primario: #ec111a;
    --color-secundario: #082ba5;
    --color-sombras: #282d31;
    --color-titulos: #282d31;
    --color-text: #53575a;
    --color-fondo: #fcfcfc;
    --color-logo: #c50f88;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-fondo);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 10px 0 3px var(--color-sombras);
}
nav {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu .logo img{
    height: 90px;
    width: 100px;
}

.menu .btn-menu {
    display: none;
    color: var(--color-primario);
    text-decoration: none;
    font-size: 1.6em;
}

.enlaces a{
    text-decoration: none;
    color: var(--color-text);
    display: inline-block;
    padding: 1.9em;
    text-align: center;
    font-size: .8em;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.icono-menu {
    color: black;
}

.enlaces a:hover {
    transition: 0.3s;
    color: var(--color-logo);
}

.headroom {
    transition: transform 0.3s ease;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}


/* Estilos css para Móvil */

@media screen and (max-width: 1023px){
    header .menu{
        flex-direction: column;
    }

    header .menu .logo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    header .menu .logo .btn-menu {
        display: inline-block;
        margin-top: 15px;
    }

    header .menu .enlaces {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}   

/* ---- ESTRUCTURA DE LA WEB ---- */

section {

    position: relative;
    width: 100%;
    height: 100vh;
}

section video {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .navigation {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .navigation li {
    list-style: none;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 4px;
    background: var(--color-fondo);
    padding: 3px 3px 0;
    opacity: 0.7;
    transition: 0.5s;
}

section .navigation li:hover {

    opacity: 1;
}

section .navigation li img {
    
    width: 120px;
    transition: 0.4s;
}

section .navigation li img:hover {

    width: 200px;
    opacity: 1;
}

/* Slider */

.testi {
    text-align: center;
    margin-left: 5em ;
}

.Carousel {
    width: 90%;
    margin:  0px 70px;
  }
  
  .Carousel h2 {
      font-size: 26px;
      line-height: 38px;
      padding-bottom: 24px;
      opacity: .9;
      text-transform: uppercase;
      letter-spacing: 10px;
      text-align: center;
  }
  
  .slick-list{
      position: absolute;
      display: flex;
      align-items: center;
      width: fit-content;
      height: 304px;
      padding: 10px 0px;
      margin: 0px auto;
      max-width: 90vw;
      overflow: hidden;
  }
  
  .slick-track{
      position: relative;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      transition: .5s ease-in-out;
  }
  
  .slick{
      position: relative;
      width: 275px;
      padding: 0 18px;
      float: left;
      box-sizing: border-box;
      display: flex;
      height: 100%;
  }
  
  .slick h4{
      position: absolute;
      z-index: 1;
      font-size: 22px;
      line-height: 23px;
      color: #fff;
      padding: 15px;
  }
  
  .slick h4 small{
      font-size: 15px;
      display: block;
  }
  
  .slick a img{
      object-fit: cover;
      height: 300px;
      width: 240px;
      border-radius: 4px;
      box-shadow: 0 2px 5px 0 black;
      transition: .3s ease-in-out;
  }
  
  .slick a img:hover{
      opacity: .85;
  }
  
  .slick-arrow{
      border-radius: 30px;
      background-color: #fff;
      position: absolute;
      z-index: 4;
      width: 30px;
      height: 48px;
      text-align: center;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
      border: 0;
      cursor: pointer;
  }
  
  .slick-arrow:focus{
      outline: 0;
  }
  
  .slick-arrow i{
      width: 12px;
      height: 100%;
      color: rgba(0,0,0,0.7);
  }
  
  .slick-prev{
      left: 0px;
  }
  
  .slick-next{
      right: 0px;
  }
  
  .img-forma{
      padding: 2%;
  }

  /* Footer Imagina */

  footer{
    background-color: #0f1012;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0px 50px 0px;
}
.footer-container{
    width: 100%;
    max-width: 980px;
    margin: auto;
}
.footer-heading h3,
.footer-heading h4{
    color: #ffffff;
}
.footer-heading h3{
    font-size: 5rem;
    margin-top: 20px;
    font-weight: 600;
}
.footer-heading h4{
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.footer-box strong{
    color: #ffffff;
    font-size: 2rem;
}
.footer-box ul{
    margin-top: 15px;
}
.footer-box ul li a,
.footer-box ul li{
    color: #ffffff;
    font-size: 0.9rem;
    text-transform: lowercase;
    opacity: 0.9;
    padding: 2px 0px;
    transition: all ease 0.3s;
}
.footer-box ul li{
    margin: 8px 0px;
}
.footer-box ul li:hover,
.footer-box ul li a:hover{
    opacity: 0.6;
    transition: all ease 0.3s;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.footer-bottom-link{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.footer-bottom-link a,
.copyright span{
    color: #78809e;
    font-size: 0.9rem;
    margin: 0px 10px;
    transition: all ease 0.3s;
}
.footer-bottom-link a:hover{
    opacity: 0.6;
    transition: all ease 0.3s;
}

@media(max-width:1060px){
    .footer-container{
        max-width: 800px;
    }
}
@media(max-width:850px){
    footer{
        padding: 50px 0px;
    }
    .footer-container{
        width: 90%;
    }
    .footer-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    .footer-heading{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media(max-width:680px){
    .footer-heading h4{
        font-size: 1.6rem;
        line-height: 30px;
    }
    .footer-heading h3{
        font-size: 2.3rem;
    }
    .footer-bottom{
        flex-wrap: wrap;
        justify-content:space-between;
        align-items: center;
        padding: 0px 20px;
    }
}
@media(max-width:340px){
    .footer-content{
        grid-template-columns: 1fr;
        margin-top: 40px;
    }
    .footer-box{
        margin: 0px;
    }
    .footer-box strong{
        font-size: 1.5rem;
    }
}
  